PORT=3000
NODE_ENV=dev
ACCESS_TYPE=offline
APP_BASE_URL=http://localhost:3000


GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
DATABASE_URL=./your_prefered_db_name.db
JWT_SECRET=your_secure_jwt_secret

